<% if false%>

<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>

<% end%>

<div id="footer">
  <div id="footerwrap">
   <div id="footer_col1">

   </div>
   <div class="footer_divider"></div>
   <div id="footer_col2">
    <div class="footer_title">SUPPORT</div>
     <ol class="footer_ul">
        <li class="footer_ul"><a class="footer_ul" href="/register">Register Your Product</a></li>
        <li class="footer_ul"><a class="footer_ul" href="/download">User Manual</a></li>
     </ol>
   </div>
   <div class="footer_divider"></div>
   <div id="footer_col3">
    <div class="footer_title">COMPANY INFORMATION</div>
    <ol class="footer_ul">
        <li class="footer_ul"><a class="footer_ul" href="/about">About</a></li>
        <li class="footer_ul"><a class="footer_ul" href="privacy">Privacy Policy</a></li>
        <li class="footer_ul"><a class="footer_ul" href="return">Return Policy</a></li>
     </ol>
   </div>
   <div class="footer_divider"></div>
   <div id="footer_col4">
     <div class="footer_title">SUBSCRIBE</div>
<div class="social-footer">
<ul style="margin-top: 30px;">
<li><a href="http://www.facebook.com/cyclebeam" class="facebook-icon" target="_blank">Facebook<span></span></a></li>
<li><a href="http://twitter.com/cyclebeam" class="twitter-icon" target="_blank">Twitter<span></span></a></li>
<li><a href="https://www.youtube.com/channel/UCR4UlR1sPwYykn9_buXbODw" class="youtube-icon" target="_blank">Youtube<span></span></a></li>
<li><a href="http://instagram.com/cyclebeam/" class="instagram-icon" target="_blank">Instagram<span></span></a></li>						
</ul>					
</div>
   </div>
   <div id="copy_right"> ©2013 Cycle Beam. All Rights Reserved. </div>
  </div>

 </div>
