<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
 <li id="search-bar" data-hook>
   <%if false%>      <%= render :partial => 'spree/shared/search' %><%end%>
    </li>
  </ul>
</nav>
